---
import links from "../../data/links.json";
---

<div class="flex flex-col z-20 w-full px-kin-sm py-kin-sm bg-gradient-to-br from-heights-3 to-heights-2 md:py-kin-base">
  <!-- LINKS -->
  <div class="flex flex-wrap gap-kin-base md:gap-kin-lg md:w-full">
    {
      links.sitewide.length !== 0 &&
        links.sitewide.map((category) => (
          // LINK BOXES
          <div class="flex flex-col w-full md:w-auto md:pb-0 md:pr-kin-base">
            {category.links.map((link) => (
              <a href={link.url} class=" text-body-lg hover:font-medium hover:text-heights-5 md:text-body-sm">
                {link.displayName}
              </a>
            ))}
          </div>
        ))
    }
  </div>
</div>
